<app-header></app-header>
<div class="profile-top">
    <div class="profile-cover">
        <div class="profile-picture">
            <img [src]="user.ImageSrc" id="uploaded-profile-pic">
        </div>
    </div>
    <div class="profile-picture-with-name">
        <div class="profile-name">{{user.FirstName}} {{user.LastName}}</div>
    </div>
    <div class="add-friend">
        <button id="friends-profile-header" *ngIf="status == 'Friends'">Friends</button>
        <button id="add-friend-button" *ngIf="status == 'NotFriends'">Add Friend</button>
        <button id="accept" *ngIf="status == 'PendingAccept'">Accept</button>
        <button id="pending-friend-request" *ngIf="status=='PendingRequest'">Pending</button>
    </div>
</div>
<div class="page">
    <div class="profile-body">
        <div class="left-side">
            <div class="sticky">
            <div class="profile-intro">
                <div class="profile-intro-text">
                    Intro
                </div>
                <div class="user-bio">
                    Pointwest
                </div>
                    <div class="user-info">
                        <div class="user-info-details">
                            <mat-icon>email</mat-icon>
                            samplesample@gmail.com
                        </div>
                        <div class="user-info-details">
                            <mat-icon>contacts</mat-icon>
                            +639xx-xxx-xxxx
                        </div>
                        <div class="user-info-details">
                            <mat-icon>cake</mat-icon>
                            January 01, 2001
                        </div>
                        <div class="user-info-details">
                            <mat-icon>wc</mat-icon>
                            Female
                        </div>
                    </div>
            </div>
            <div class="for-sticky">
                <div class="terms">
                    <p>Privacy • Terms • Advertising • Ad Choices • Cookies • More </p>
                    <p>© 2022</p>
                </div>
            </div>
        </div>
        </div>
        <div class="right-side">
            <div class="posts-section">
                <div class="post-icon">
                    <img src={{user.ImageSrc}} class="post-profile-pic" alt="post-profile-pic" />
                </div>
                <div class="post-space">
                    <button class="post-button" >
                        What's on your mind?
                    </button>
                </div>
            </div>
            <div class="main-posts">
                <div class="main-post-title">Posts</div>
            </div>

            <div *ngFor="let post of newsfeedPosts, let i = index">
                <div class="post-card" *ngIf="i+1 === newsfeedPosts.length" #lastPost>
                    <div class="post-header">
                        <a [routerLink]="post.Username"><img class="post-header-image" [src]="post.OwnerImage" /></a>
                        <a [routerLink]="post.Username">
                            <p>{{post.FirstName}} {{post.LastName}}</p>
                        </a>
                    </div>
                    <div class="post-body">
                        <div class="post-content">
                            <p>{{post.Content}}</p>
                        </div>
                        <div>
                            <img class="post-image" [src]="post.ImageSrc" />
                        </div>
                    </div>
                </div>
            
                <div class="post-card" *ngIf="i+1 !== newsfeedPosts.length">
                    <div class="post-header">
                        <a [routerLink]="post.Username"><img class="post-header-image" [src]="post.OwnerImage" /></a>
                        <a [routerLink]="post.Username">
                            <p>{{post.FirstName}} {{post.LastName}}</p>
                        </a>
                    </div>
                    <div class="post-body">
                        <div class="post-content">
                            <p>{{post.Content}}</p>
                        </div>
                        <div>
                            <img class="post-image" [src]="post.ImageSrc" />
                        </div>
                    </div>
                </div>
            </div>

            <div class='caught-up'>
                <div >You're all caught up.</div>
                <div ><i>You've seen all new posts from the past 2 weeks.</i></div>
            </div>
        </div>
    </div>
</div> 