<div class="profile-top">
    <div class="profile-cover">
        <div class="profile-picture">
                <!-- <div class="change-profile-pic-icon">
                    <label htmlFor="upload-image" class="custom-file-upload" >
                    </label>
                    <input type="file" accept=".png, .jpg, .jpeg .gif" onChange={encodeImageFileAsURL}  id="upload-image"/>
                </div> -->
        </div>
    </div>
    <div class="profile-picture-with-name">
        <div class="profile-name">Kim Minjeong</div>
    </div>
</div>
<div class="page">
    <div class="profile-body">
        <div class="left-side">
            <div class="profile-intro">
                <div class="profile-intro-text">
                    Intro
                </div>
                    <div class="user-bio">
                        <p></p>
                    </div>
                    <button class="add-bio" >
                        Add Bio
                    </button>
                    <p></p>
                    <button class="add-bio" >
                        Edit Bio
                    </button>
                    <div class="user-info">
                        <div class="user-info-details">
                        </div>
                        <div class="user-info-details">
                        </div>
                        <div class="user-info-details">
                        </div>
                        <div class="user-info-details">
                        </div>
                    </div>
                    <button class="edit-details" >Edit Details
                    </button>
            </div>
            <div class="for-sticky">
                <div class="photo-section">
                    <div class="photo-title">
                        <div class="photos-text">Albums</div>
                        <div class="photos-link">
                        </div>
                    </div>
                    <div class="grid-pictures">
                        
                    </div>
                </div>
                <div class="terms">
                    <p>Privacy • Terms • Advertising • Ad Choices • Cookies • More </p>
                    <p>© 2022</p>
                </div>
            </div>
        </div>
        <div class="right-side">
                <div class="posts-section">
                    <div class="post-icon">
                        <!-- <img src={userProfile.ImageSrc} class="post-profile-pic" alt="post-profile-pic" /> -->
                    </div>
                    <div class="post-space">
                        <button class="post-button" >
                            What's on your mind?
                        </button>
                    </div>
                </div>
                    <div class="main-posts">
                        <div class="main-post-title">Posts</div>
                    </div>
                    <div class='caught-up'>
                        <div >You're all caught up.</div>
                        <div ><i>You've seen all new posts from the past 2 weeks.</i></div>
                    </div>
        </div>
    </div>
</div> 