<div id="sidebar-container">
    <a routerLink=":username">
        <div class='sidebar-row'>
            <div class='sidebar-images'>
                <img class='sidebar-icon' alt='' />
            </div>
            <p class='sidebar-text'>Name</p>
        </div>
    </a>
    <a routerLink="friends">
        <div class='sidebar-row'>
            <div class='sidebar-images'>
                <mat-icon>people</mat-icon>
            </div>
            <p class='sidebar-text'>Friends</p>
        </div>
    </a>
</div>
